/* Define the main Navigation block */
.navbar {
  padding: 0px;
}
/* Remove bullets, margin and padding */
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-container{
  min-width: 100%;
  overflow: hidden;
  background-color: #333;
}
.nav-logo{
  height: 60px;
  margin-left: 1rem;
}
.container {
  max-width: 100%;
  /* overflow-x: hidden; */
}
/* Define the block styling for the links */
.nav li a {
  display: flex;
  text-align: center;
  padding: 14px 16px;
  color: var(--secondary_color);
}
/* This is optional, however if you want to display the active link differently apply a background to it */
a.active {
  color: var(--ternary_color);
}

.account {
  position: flex-end;
  margin-right: 4rem;
}

.main-header {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* background: var(--color-primary); */
  z-index: 10;
  padding: 20px 0;
  transition: padding 0.5s;
}

.main-header.sticky {
  position: fixed;
  padding: 8px 0;
}
@media only screen and (max-width: 1150px) {
  .main-header { 
    /* position: fixed; */
    margin-bottom: 1rem;
      padding: 8px 0;
      padding-top: 8px;
      padding-right: 0px;
      padding-bottom: 8px;
      padding-left: 0px;
  }
}

@media only screen and (max-width: 650px) {
  .navbar{
    font-size:small;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* integrate a mobile nav-menu */
  .navbar{
    font-size:small;
    width: max-content;
  }
}

@media only screen and (max-width: 300px) {
  .navbar{
    font-size:small;
    display: grid;
    width: max-content;
  }
}